     <meta charset="utf-8" />
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

     {% load static %}
     <link rel="stylesheet" href="{% static 'image/style.css' %}">
<body style="background-image:url('{% static 'image/pic105.jpg' %}'); background-repeat: no-repeat; background-size: 100%;">
<title>Thank You </title>
<tr>
    <th colspan="6">
  <br><br><br><br><br><br><br>
        <ul><ul><ul><ul><ul><ul>
<h1>Your form has been submitted successfully...</h1>
            <ul><ul>
<h1>Thank You ! for visiting our Website.</h1>
            <br>

            <ul><ul><ul><ul><ul>
     <a class="btn btn-xl btn-dark"  href="/edit_form">EDIT FORM</a>
                <a class="btn btn-xl btn-dark"  href="/signout">SIGNOUT</a>
    </th>
    </tr>

