<!DOCTYPE html>
<head>
        <meta charset="utf-8" />
         <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>
<style>
    h1 {
      color:black;
      text-align: center;
      font-family: sans-serif;

    }

     h2 {
      color: black;
      text-align: center;
      font-family: sans-serif;
    }
    h3 {
      color:black ;
      text-align: center;
      font-family: sans-serif;
      }
      a {

      text-align: center;
      font-family: sans-serif;
      }
      th {
           text-align: center;

        }
</style>
{% load static %}

<link rel="stylesheet" href="{% static 'image/style.css' %}">
<body style="background-image:url('{% static 'image/pic100.jpg' %}'); background-repeat: no-repeat; background-size: 100%;">


<table border="0" width="100%" height="50px">



<i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
<header id="header" class="d-flex Flex-colum justify-content-center">
<nav id="navbar" class="navbar nav-menu">
    <br><br><br>
<ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul><ul>
<a href="{% url 'admin:index' %}" class="btn btn-primary btn-dark"><i class="bx box-Lock"></i><span>Admin</span></a>
 </nav>
 </header>



<!----Row2---->
<tr>
<th colspan="6">
<font color="black" face="Helvetica" size="5">
<h1><strong>WELCOME TO OUR WEBSITE..! </strong></h1> <br>
    <h2><strong>MARRIAGE REGISTRATION</strong></h2>
    <br><br>
    <a class="btn btn-primary btn-dark"  href="/register">Register</a>
    </font>
  </th>
 </tr>



</font>
</th>
</tr>


<!----Row4---->
<tr>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>

<!----Row5---->
<tr>
    <th colspan="6">
        <font color="black" face="Helvetica" size="4">
        <br><br><br><br><br><br><br>
            <h3><strong> Thanks for visiting</strong></h3>
        </font>
</th>
</tr>

<!----Row6---->
<tr>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
<th></th>
</tr>

</table>



</body>
</html>